.commodity_add{
  width: 62.5%;
  height: 100%;
  margin: 0 auto;
  border: 1px solid #ebeef5;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .add_head{
    width: 100%;
    height: 65px;
    background: lightblue;
    margin-top: 65px;
  }
  .add_list{
    flex: 1;
  }
}