.commodityList{
  p,th,td{
    margin: 0;
    padding: 0;
  }
  .ant-advanced-search-form {
    padding: 12px 24px;
    //background: ;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  .ant-advanced-search-form .ant-form-item {
    width: 80%;
    display: flex;
    //justify-content: center;
    //align-items: center;
  }

  .ant-advanced-search-form .ant-form-item-control-wrapper {
    flex: 1;
  }
  .ant-advanced-add-form{
    //text-align: right;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    >p{
      margin: 0;
    }
  }
  .ant-table-body{
  >table{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 4px;
    th,td{
      font-size: 14px;
      border: 1px solid #d9d9d9;
    }
    .ant-table-thead > tr > th{
      padding: 0;
      height: 45px;
    }
    th{
      color: #909399;
      >span{
        display: block;
        width: 100%;
        text-align: center;
        font-weight: bold;
        color: #909399;
      }
    }
    td{
      height: 185px;
      &:nth-of-type(1){width: 43px};
      &:nth-of-type(2){width: 93px};
      &:nth-of-type(3){width: 103px};
      &:nth-of-type(4){
        width: 203px;
        >div{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p{
            margin-top: 10px;
          }
        }
      };
      &:nth-of-type(5){width: 118px};
      &:nth-of-type(6){
        width: 143px;
        >div{
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          >p{
            margin-top: 5px;
          }
        }
      };
      &:nth-of-type(7){width: 93px;};
      &:nth-of-type(8){
        width: 88px;
        >div{
          width: 40px;
          height: 40px;
          margin: 0 auto;
          line-height: 40px;
          background: #409eff;
          border-radius: 50%;
          cursor: pointer;
          &:hover{
            opacity: 0.8;
          }
          i{
            color: white;
          }
        }
      };
      &:nth-of-type(9){width: 93px};
      &:nth-of-type(10){width: 94px};
      &:nth-of-type(11){
        width: 158px;
        >div{
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          p{
            width: 100%;
            margin-top: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
          }
        }
      };
      height: 145px;
      text-align: center;
      color: #606266;
      .edit{
        margin: 0 auto;
        width: 40px;
        height: 40px;
        background: #409eff;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        font-size: 14px;
        color: #fff;
        cursor: pointer;
        &:hover{
          opacity: 0.8;
        }
      }
    }
  }
  }
}